html{
    background: #2c2c2c;
}
body{
    display: flex;
    justify-content: center;
}
div{
    display: flex;
    flex-direction: column;
    
}
.journey-summary {
    width: 600px;
    color: whitesmoke;
}
h2{
    text-align: center;
}